.contact-clean {
  background: #f1f7fc;
  padding: 80px 0; }

@media (max-width: 767px) {
  .contact-clean {
    padding: 20px 0; } }

.contact-clean form {
  /*max-width: 480px;*/
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }

@media (max-width: 767px) {
  .contact-clean form {
    padding: 30px; } }

.contact-clean h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit; }

.contact-clean .form-group:last-child {
  margin-bottom: 5px; }

.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px; }

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2; }

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical; }

.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important; }

.contact-clean form .btn:hover {
  opacity: 1; }

.contact-clean form .btn:active {
  transform: translateY(1px); }

.contact-clean form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff; }

*, *:before, *:after {
  box-sizing: border-box; }

input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

.drop {
  width: 90%;
  height: 220px;
  border: 3px dashed #DADFE3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: transparent;
  transition: all 0.5s ease-out;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.drop .cont {
  width: 500px;
  height: 170px;
  color: #8E99A5;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.drop .cont i {
  font-size: 40px;
  color: #787e85;
  position: relative; }

.drop .cont .tit {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900; }

.drop .cont .desc {
  color: #787e85;
  font-size: 18px; }

.drop .cont .browse {
  margin: 10px 25%;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  background: #00c993; }

.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

#list {
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0; }

.dashed_upload {
  height: 200px; }

.features-blue {
  color: #fff;
  background: linear-gradient(135deg, #172a74, #21a9af);
  background-color: #184e8e;
  padding-bottom: 30px; }

@media (max-width: 767px) {
  .features-blue {
    padding-bottom: 10px; } }

.features-blue p {
  color: rgba(255, 255, 255, 0.6); }

.features-blue h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit; }

@media (max-width: 767px) {
  .features-blue h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px; } }

.features-blue .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 60px; }

@media (max-width: 767px) {
  .features-blue .intro {
    margin-bottom: 40px; } }

.features-blue .item {
  min-height: 100px;
  padding-left: 80px;
  margin-bottom: 40px; }

@media (max-width: 767px) {
  .features-blue .item {
    min-height: 0; } }

.features-blue .item .name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  color: inherit; }

.features-blue .item .description {
  font-size: 15px;
  margin-bottom: 0; }

.features-blue .item .icon {
  font-size: 40px;
  color: #ffcc1e;
  float: left;
  margin-left: -65px; }

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32; }

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px; }

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0; }

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6; }

.footer-dark ul a:hover {
  opacity: 0.8; }

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px; } }

.footer-dark .item.text {
  margin-bottom: 36px; }

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0; } }

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0; }

.footer-dark .item.social {
  text-align: center; }

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px; } }

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75; }

.footer-dark .item.social > a:hover {
  opacity: 0.9; }

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0; }

#brand-logo {
  font-size: 34px; }

#app-navbar {
  background: linear-gradient(120deg, #00e4d0, #5983e8); }

#brand-logo {
  font-size: 34px; }

#app-navbar {
  background: linear-gradient(120deg, #00e4d0, #5983e8); }

.header-dark {
  background: url("../img/macc-bg.jpg") #444;
  background-size: cover;
  padding-bottom: 80px; }

@media (min-width: 768px) {
  .header-dark {
    padding-bottom: 120px; } }

.header-dark .navbar {
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none; }

@media (min-width: 768px) {
  .header-dark .navbar {
    padding-top: .75rem;
    padding-bottom: .75rem; } }

.header-dark .navbar .navbar-brand {
  font-weight: bold;
  color: inherit; }

.header-dark .navbar .navbar-brand:hover {
  color: #f0f0f0; }

.header-dark .navbar .navbar-collapse span {
  margin-top: 5px; }

.header-dark .navbar .navbar-collapse span .login {
  color: #d9d9d9;
  margin-right: .5rem;
  text-decoration: none; }

.header-dark .navbar .navbar-collapse span .login:hover {
  color: #fff; }

.header-dark .navbar .navbar-toggler {
  border-color: #747474; }

.header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
  background: none; }

.header-dark .navbar .navbar-toggler {
  color: #eee; }

.header-dark .navbar .navbar-collapse, .header-dark .navbar .form-inline {
  border-color: #636363; }

@media (min-width: 992px) {
  .header-dark .navbar.navbar .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem; } }

.header-dark .navbar.navbar-dark .navbar-nav .nav-link {
  color: #d9d9d9; }

.header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
  color: #fcfeff !important;
  background-color: transparent; }

.header-dark .navbar .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px; }

.header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .dropdown-item {
  line-height: 2;
  font-size: 14px;
  color: #37434d; }

.header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .drodown-item:hover {
  background: #ebeff1; }

.header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
  background: #208f8f;
  border-radius: 20px;
  font-size: inherit;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem .8rem;
  transition: background-color 0.25s; }

.header-dark .navbar .action-button:hover {
  background: #269d9d; }

.header-dark .navbar .form-inline label {
  color: #ccc; }

.header-dark .navbar .form-inline .search-field {
  display: inline-block;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s; }

.header-dark .navbar .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc; }

.header-dark .hero {
  margin-top: 60px; }

@media (min-width: 768px) {
  .header-dark .hero {
    margin-top: 20px; } }

.header-dark .hero h1 {
  color: #fff;
  font-family: 'Bitter', serif;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 80px; }

@media (min-width: 768px) {
  .header-dark .hero h1 {
    margin-bottom: 50px;
    line-height: 1.5; } }

.header-dark .hero .embed-responsive iframe {
  background-color: #666; }

.navigation-clean {
  background: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0; }

@media (min-width: 768px) {
  .navigation-clean {
    padding-top: 1rem;
    padding-bottom: 1rem; } }

.navigation-clean .navbar-brand {
  font-weight: bold;
  color: inherit; }

.navigation-clean .navbar-brand:hover {
  color: #222; }

.navigation-clean .navbar-toggler {
  border-color: #ddd; }

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background: none; }

.navigation-clean .navbar-toggler {
  color: #888; }

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color: #ddd; }

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none; }

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px; }

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: #465765; }

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent; }

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: none;
  background-color: #fff;
  border-radius: 2px; }

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d; }

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit; }
