/*
 *
 *   SKIN 4 - SPRM CMS
 *
 */
$skin4-pallete1: #355C7D;
$skin4-pallete2: #6C5B7B;
$skin4-pallete3: #C06C84;
$skin4-pallete4: #F67280;
$skin4-pallete5: #F8B195;
$skin4-pallete6: #f3f1f5;
$skin4-font: $skin4-pallete1;
$skin4-bg: $skin4-pallete6;

body.skin4 {
  background-color: $skin4-bg;
  color: $skin4-font;

  .page-heading {
    box-shadow: 0px 2px 4px lighten($skin4-pallete2, 50%);
  }

  .form-control, .single-line {
    &:focus {
      border-color: $skin4-pallete3;
    }
  }

  // button
  .btn {
    &.btn-default {
      background-color: white;
      border-color: darken($skin4-pallete6, 5%);
      color: $skin4-font;

      &:hover {
        background-color: darken($skin4-pallete6, 5%);
        border-color: darken($skin4-pallete6, 5%);
      }
    }

    &.btn-primary {
      background-color: $skin4-pallete3;
      border-color: darken($skin4-pallete3, 5%);
      color: $skin4-pallete6;

      &:hover {
        background-color: darken($skin4-pallete3, 5%);
        border-color: darken($skin4-pallete3, 5%);
      }
    }

    &.btn-danger {
      background-color: white;
      border-color: darken($inspinia-danger, 5%);
      color: $inspinia-danger;

      &:hover {
        background-color: darken($inspinia-danger, 5%);
        border-color: darken($inspinia-danger, 5%);
        color: $skin4-pallete6;
      }
    }

    &.btn-success {
      background-color: $skin4-pallete2;
      border-color: darken($skin4-pallete2, 5%);
    }
  }

  // nav & navbar
  .nav {
    &.navbar-right {
      > li > a {
        color: $skin4-pallete6;
      }
    }
    > li > a {
      color: $skin4-pallete1;
    }
  }

  .nav-header {
    background-color: $skin4-bg;
    background-image: url('/img/patterns/header-profile-skin-2.png');
  }

  .navbar-fixed-top,
  .navbar-static-top {
    background: $skin4-pallete2;
  }

  .navbar-minimalize.btn-primary {
    background-color: $skin4-bg;
    border-color: $skin4-pallete6;
    color: $skin4-pallete2;
  }

  //table
  .table-striped {
    > tbody {
      > tr:nth-of-type(2n) {
        background-color: white;
      }

      > tr:nth-of-type(2n+1) {
        background-color: $skin4-pallete6;
      }
    }
  }

  //datatable dt-button*
  .dt-buttons {
    .dt-button {
      color: $skin4-pallete6;

      &.buttons-export {
        background-color: lighten($skin4-pallete3, 5%);

        &:hover {
          background-color: $skin4-pallete3;
          border-color: darken($skin4-pallete3, 5%);
        }
      }

      &.buttons-print {
        background-color: lighten($skin4-pallete5, 5%);

        &:hover {
          background-color: $skin4-pallete5;
          border-color: darken($skin4-pallete5, 5%);
        }
      }

      &.buttons-reload {
        background-color: lighten($inspinia-green, 5%);

        &:hover {
          background-color: $inspinia-green;
          border-color: darken($inspinia-green, 5%);
        }
      }

    }
  }

  //badge
  .badge {
    &.badge-danger, &.badge-warning {
      color: white;
    }
  }

  //status color
  .status {
    &.contact-note {
      .ibox-title {
        background: #f0f8ff;
      }

      .ibox-content {
        background: darken(#f0f8ff, 5%);
      }
    }

    &.raw {
      .ibox-title {
        background: #A8A7A7;
      }

      .ibox-content {
        background: darken(#A8A7A7, 5%);
      }
    }

    &.inbox {
      .ibox-title {
        background: #ec769f;
      }

      .ibox-content {
        background: darken(#ec769f, 5%);
      }
    }

    &.suggest-nfa {
      .ibox-title {
        background: #f5eab5;
      }

      .ibox-content {
        background: darken(#f5eab5, 5%);
      }
    }

    &.stk {
      .ibox-title {
        background: #45ADA8;
      }

      .ibox-content {
        background: darken(#45ADA8, 5%);
      }
    }

    &.kiv {
      .ibox-title {
        background: #83AF9B;
      }

      .ibox-content {
        background: darken(#83AF9B, 5%);
      }
    }

    &.pnp {
      .ibox-title {
        background: #F48A94;
      }

      .ibox-content {
        background: darken(#F48A94, 5%);
      }
    }

    &.refer {
      .ibox-title {
        background: #E5FCC2;
      }

      .ibox-content {
        background: darken(#E5FCC2, 5%);
      }
    }

    &.pre-cris {
      .ibox-title {
        background: #d7a6c2;
      }

      .ibox-content {
        background: darken(#d7a6c2, 5%);
      }
    }

    &.cris {
      .ibox-title {
        background: #A8A7A7;
      }

      .ibox-content {
        background: darken(#A8A7A7, 5%);
      }
    }
  }
}