/*
 *
 *   SKIN 3 - SPRM CMS
 *   Old School
 *
 */
$skin1-pallete1: #533747;
$skin1-pallete2: #613f75;
$skin1-pallete3: #7d82b8;
$skin1-pallete4: #f7a9a8;
$skin1-pallete5: palevioletred;
$skin1-pallete6: #f3f1f5;
$skin1-font: $skin1-pallete1;
$skin1-bg: $skin1-pallete6;

body.skin1 {
    background-color: $skin1-bg;
    color: $skin1-font;

    .page-heading {
        box-shadow: 0px 2px 4px lighten($skin1-pallete2, 50%);
    }

    #page-wrapper {
        border-left: none;
        //background: linear-gradient(lighten($skin1-pallete5, 10%), $skin1-pallete5);
        background: url('/img/patterns/papyrus.png');
    }

    .form-control, .single-line {
        &:focus {
            border-color: $inspinia-danger;
        }
    }

    .form-control[disabled],
    .form-control[readonly],
    fieldset[disabled] .form-control {
        background-color: lighten($skin1-pallete6, 2%);
    }

    // button
    .btn {
        &:hover {
            transform: scale(1.1);
            transition: 0.5s ease;
        }

        &.btn-default {
            background-color: white;
            border-color: darken($skin1-pallete6, 5%);
            color: $skin1-font;

            &:hover {
                background-color: darken($skin1-pallete6, 5%);
                border-color: darken($skin1-pallete6, 5%);
            }
        }

        &.btn-primary {
            background-color: $skin1-pallete3;
            border-color: darken($skin1-pallete3, 5%);
            color: $skin1-pallete6;

            &:hover {
                background-color: darken($skin1-pallete3, 5%);
                border-color: darken($skin1-pallete3, 5%);
            }
        }

        &.btn-danger {
            background-color: white;
            border-color: darken($inspinia-danger, 5%);
            color: $inspinia-danger;

            &:hover {
                background-color: darken($inspinia-danger, 5%);
                border-color: darken($inspinia-danger, 5%);
                color: $skin1-pallete6;
            }
        }

        &.btn-success {
            background-color: $skin1-pallete2;
            border-color: darken($skin1-pallete2, 5%);
        }
    }

    // nav & navbar
    .nav {
        &.navbar-right {
            > li > a {
                color: $skin1-pallete6;
            }
        }

        > li {
            &.active {
                border-left-color: $skin1-pallete4;
                background-color: darken($skin1-bg, 10%);
            }

            > a {
                color: $skin1-pallete1;
            }
        }
    }

    .nav-header {
        background-color: $skin1-bg;
        background-image: url('/img/patterns/header-profile-skin-1.png');
    }

    .navbar-fixed-top,
    .navbar-static-top {
        background: $skin1-pallete2;
    }

    .navbar-minimalize.btn-primary {
        background-color: $skin1-bg;
        border-color: $skin1-pallete6;
        color: $skin1-pallete2;
    }

    .nav-pills {
        > li.active {
            > a, > a:focus, > a:hover {
                color: $skin1-pallete6;
                background-color: $skin1-pallete3;
            }
        }

        > li {
            > a {
                background-color: lighten($skin1-pallete6, 2%);
            }
        }
    }

    //table
    .table-striped {
        > tbody {
            > tr:nth-of-type(2n) {
                background-color: white;
            }

            > tr:nth-of-type(2n+1) {
                background-color: darken($skin1-pallete6, 10%);
            }
        }
    }

    // text color
    .text-danger {
        color: $inspinia-danger;
    }

    //datatable dt-button*
    .dt-buttons {
        .dt-button {
            color: $skin1-pallete6;

            &.buttons-export {
                background-color: lighten($skin1-pallete3, 5%);

                &:hover {
                    background-color: $skin1-pallete3;
                    border-color: darken($skin1-pallete3, 5%);
                }
            }

            &.buttons-print {
                background-color: lighten($skin1-pallete5, 5%);

                &:hover {
                    background-color: $skin1-pallete5;
                    border-color: darken($skin1-pallete5, 5%);
                }
            }

            &.buttons-reload {
                background-color: lighten($inspinia-green, 5%);

                &:hover {
                    background-color: $inspinia-green;
                    border-color: darken($inspinia-green, 5%);
                }
            }

        }
    }

    //badge
    .badge {
        &.badge-danger, &.badge-warning {
            color: white;
        }
    }

    //status color
    .status {
        &.task {
            .ibox-title {
                background: #A7C8E9;
            }

            .ibox-content {
                background: darken(#A7C8E9, 5%);
            }
        }

        &.contact-note {
            .ibox-title {
                background: #FABE82;
            }

            .ibox-content {
                background: darken(#FABE82, 5%);
            }
        }

        &.raw {
            .ibox-title {
                background: #6A9AAA;
            }

            .ibox-content {
                background: darken(#6A9AAA, 5%);
            }
        }

        &.inbox {
            .ibox-title {
                background: #5F9CCF;
            }

            .ibox-content {
                background: darken(#5F9CCF, 5%);
            }
        }

        &.overdue {
            .ibox-title {
                background: $inspinia-danger;
            }

            .ibox-content {
                background: $inspinia-danger;
            }
        }

        &.suggest-nfa {
            .ibox-title {
                background: #27A39B;
            }

            .ibox-content {
                background: darken(#27A39B, 5%);
            }
        }

        &.nfa {
            .ibox-title {
                background: #8776A6;
            }

            .ibox-content {
                background: darken(#8776A6, 5%);
            }
        }

        &.kiv {
            .ibox-title {
                background: #DE8384;
            }

            .ibox-content {
                background: darken(#DE8384, 5%);
            }
        }

        &.pnp {
            .ibox-title {
                background: #F16B5E;
            }

            .ibox-content {
                background: darken(#F16B5E, 5%);
            }
        }

        &.refer {
            .ibox-title {
                background: #F2C12C;
            }

            .ibox-content {
                background: darken(#F2C12C, 5%);
            }
        }

        &.pre-cris {
            .ibox-title {
                background: #C39E4E;
            }

            .ibox-content {
                background: darken(#C39E4E, 5%);
            }
        }

        &.cris {
            .ibox-title {
                background: #40C6D2;
            }

            .ibox-content {
                background: darken(#40C6D2, 5%);
            }
        }
    }

    // wrapper
    .wrapper-content {
        padding: 10px 10px 40px;
    }

    // chat
    .chat-discussion .chat-message.right .message-date {
        float: right;
    }

    // tabs
    .tabs-container .nav-tabs {
        > li > a {
            background: lighten($skin1-pallete6, 5%);
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }

        > li.active > a {
            background: $skin1-pallete6;
            opacity: 1;
        }

        > li.tab-action > a {
            background-color: $skin1-pallete5;
            color: $skin1-pallete6;
            &:hover {
                background-color: darken($skin1-pallete5, 10%);
            }
        }

        > li.tab-action.active > a {
            background-color: darken($skin1-pallete5, 10%);
            color: $skin1-pallete6;
            opacity: 1;
        }
    }

    .tab-content > .tab-pane.active > .panel-body {
        background: $skin1-pallete6;
    }

    &.public {
        //background: url(/img/macc-bg-3.jpg) no-repeat;
        //background-color: #dcb3e5;
        //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
        //background-color: #f3f1f5;
        //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='50' height='25' viewBox='0 0 50 25'%3E%3Cdefs%3E%3Crect stroke='%23f3f1f5' stroke-width='0.04' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%23f3f1f5' stroke-width='0.04'%3E%3Crect fill='%23eeecf0' width='1' height='1'/%3E%3Crect fill='%23f3f1f5' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23e9e7eb' width='1' height='1' y='1'/%3E%3Crect fill='%23e4e3e6' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23e0dee1'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23dbd9dc'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23f3f1f5'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%23d6d4d8'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%237d82b8'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%237d82b8'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='50' height='25'/%3E%3Crect fill='url(%23b)' width='50' height='25'/%3E%3Crect fill='url(%23c)' width='50' height='25'/%3E%3Crect fill='url(%23d)' width='50' height='25'/%3E%3Crect fill='url(%23e)' width='50' height='25'/%3E%3Crect fill='url(%23f)' width='50' height='25'/%3E%3C/svg%3E");
        .logo {
            filter: drop-shadow(0px 0px 5px $skin1-pallete6);
        }

        h1 {
            filter: drop-shadow(0px 0px 5px $skin1-pallete6);
        }

        &.internal {
            opacity: 0.9;
            background: url(/img/macc-bg-4.jpg) no-repeat;
            background-attachment: fixed;
            background-size: cover;
            //background-color: $skin1-pallete1;
            h1 {
                color: $skin1-pallete6;
                //filter: drop-shadow(0px 0px 5px $skin1-pallete6);
            }
        }
    }

    .chosen-container .chosen-results li.highlighted {
        background-color: $skin1-pallete4;
        color: $skin1-pallete3;
    }

    //breadcumb
    .breadcrumb-container {
        background-color: $skin1-pallete6;
        color: $skin1-pallete1;

        .breadcrumb {
            background-color: inherit;
            color: $skin1-pallete1;

            > li.active {
                color: $skin1-pallete3;
            }
        }
    }

    // list
    li.list-group-item:hover {
        background-color: lighten($skin1-pallete6, 0%);
        border-left: 3px solid $skin1-pallete4 !important;
        padding-left: 12px;
    }

    small.stats-label {
        font-size: 100%;
    }
}



.dashboard-stat {
    .ibox-content a {
        font-weight: bolder;
        color: $skin1-pallete6;
        overflow: hidden;
    }
    .visual {
        display: block;
        float: left;
        >i {
            font-size: 80px;
            opacity: .8;
        }
    }
    h2 {
        font-size: 150%;
    }
}

hr {
    border-top: 1px solid #999999;
}
