/*
 *   SKIN 3 - Luna
 */
$skin1-pallete1: #2A2D34;
$skin1-pallete2: #353740;
$skin1-pallete3: #3C3E47;
$skin1-pallete4: #DC9440;
$skin1-pallete5: #F4A735;
$skin1-pallete6: #ffffff;
$skin1-font: $skin1-pallete1;
$skin1-bg: $skin1-pallete6;
$skin1-nav-font: darken($skin1-pallete6, 30%);
$skin1-nav-bg: $skin1-pallete1;

body.skin8 {
  background-color: $skin1-bg;
  color: $skin1-font;

  .page-heading {
    box-shadow: 0px 2px 4px lighten($skin1-pallete2, 50%);
  }

  #page-wrapper {
    border-left: none;
    background-color: $skin1-pallete2;
  }

  .form-control, .single-line {
    color: $skin1-pallete2;

    &:focus {
      border-color: $skin1-pallete4;
      box-shadow: 0px 0px 4px lighten($skin1-pallete4, 50%);
    }
  }

  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
    background-color: lighten($skin1-pallete2, 40%);
    border: none;
  }

  // button
  .btn {
    &.btn-default {
      background-color: white;
      border-color: darken($skin1-pallete6, 5%);
      color: $skin1-font;

      &:hover {
        background-color: darken($skin1-pallete6, 5%);
        border-color: darken($skin1-pallete6, 5%);
      }
    }

    &.btn-primary {
      background: linear-gradient(lighten($skin1-pallete5, 10%), $skin1-pallete5);
      background-color: $skin1-pallete5;
      border-color: darken($skin1-pallete5, 5%);
      color: $skin1-pallete1;

      &.gradient {
        background: linear-gradient(lighten($skin1-pallete5, 10%), $skin1-pallete5);
      }

      &:hover {
        background: darken($skin1-pallete5, 5%);
        border-color: darken($skin1-pallete5, 5%);
      }
    }

    &.btn-danger {
      background-color: white;
      border-color: darken($skin1-pallete3, 5%);
      color: $skin1-pallete3;

      &:hover {
        background-color: darken($skin1-pallete3, 5%);
        border-color: darken($skin1-pallete3, 5%);
        color: $skin1-pallete6;
      }
    }

    &.btn-success {
      background: linear-gradient(lighten($skin1-pallete1, 10%), $skin1-pallete1);
      border-color: darken($skin1-pallete1, 5%);

      &:hover {
        background: linear-gradient(lighten($skin1-pallete5, 10%), $skin1-pallete5);
        background-color: darken($skin1-pallete5, 5%);
        border-color: darken($skin1-pallete5, 5%);
        color: $skin1-pallete1;
      }
    }
  }

  // nav & navbar
  .nav {
    &.navbar-right {
      > li > a {
        color: $skin1-font;
      }
    }

    > li {
      &.active {
        border-left: 4px solid $skin1-pallete3;
        background: #293846;
      }

      > a {
        color: $skin1-nav-font;
      }
    }

    &.nav-second-level {
      > li.active {
        border: none;
      }
    }
  }

  .nav-header {
    background-color: $skin1-bg;
    background-image: url('/img/patterns/header-profile-skin-3.png');
  }

  .navbar-fixed-top,
  .navbar-static-top {
    background: $skin1-pallete6;
  }

  .navbar-minimalize.btn-primary {
    background: transparent;
    border-color: transparent;
    color: lighten($skin1-pallete3, 30%);

    &:hover {
      background: transparent;
      border-color: transparent;
      color: $skin1-pallete4;
    }
  }

  //table
  .table-striped {
    > thead {
      background-color: lighten($skin1-pallete3, 5%);
    }

    > tbody {
      > tr:nth-of-type(2n) {
        background-color: white;
      }

      > tr:nth-of-type(2n+1) {
        background-color: lighten($skin1-pallete3, 5%);;
      }
    }
  }

  //datatable dt-button*
  .dt-buttons {
    .dt-button {
      color: $skin1-pallete2;

      &.buttons-export {
        background: linear-gradient(lighten($skin1-pallete4, 10%), $skin1-pallete4);

        &:hover {
          background-color: $skin1-pallete4;
          border-color: darken($skin1-pallete4, 5%);
        }
      }

      &.buttons-print {
        background: linear-gradient(lighten($skin1-pallete4, 10%), $skin1-pallete4);

        &:hover {
          background-color: $skin1-pallete4;
          border-color: darken($skin1-pallete4, 5%);
        }
      }

      &.buttons-reload {
        background: linear-gradient(lighten($skin1-pallete4, 10%), $skin1-pallete4);

        &:hover {
          background-color: $skin1-pallete4;
          border-color: darken($skin1-pallete4, 5%);
        }
      }

    }
  }

  //badge
  .badge {
    &.badge-danger, &.badge-warning {
      color: white;
    }
  }

  //status color
  .stat-container {
    h1 {
      color: $skin1-pallete5;
    }
  }

  // wrapper
  .wrapper-content {
    padding: 0px 10px 40px;
  }

  // chat
  .chat-discussion .chat-message.right .message-date {
    float: right;
  }

  // tabs
  .tabs-container .nav-tabs > li.active > a {
    background: $skin1-pallete6;
  }

  .tab-content > .tab-pane.active > .panel-body {
    background: $skin1-pallete6;
  }

  &.public {
    background-color: #f3f1f5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='50' height='25' viewBox='0 0 50 25'%3E%3Cdefs%3E%3Crect stroke='%23f3f1f5' stroke-width='0.04' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%23f3f1f5' stroke-width='0.04'%3E%3Crect fill='%23eeecf0' width='1' height='1'/%3E%3Crect fill='%23f3f1f5' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23e9e7eb' width='1' height='1' y='1'/%3E%3Crect fill='%23e4e3e6' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23e0dee1'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23dbd9dc'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23f3f1f5'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%23d6d4d8'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%237d82b8'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%237d82b8'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='50' height='25'/%3E%3Crect fill='url(%23b)' width='50' height='25'/%3E%3Crect fill='url(%23c)' width='50' height='25'/%3E%3Crect fill='url(%23d)' width='50' height='25'/%3E%3Crect fill='url(%23e)' width='50' height='25'/%3E%3Crect fill='url(%23f)' width='50' height='25'/%3E%3C/svg%3E");

    .logo {
      filter: drop-shadow(0px 0px 5px $skin1-pallete6);
    }
  }

  .dashboard-stat {
    a {
      font-weight: bolder;
      color: $skin1-pallete1;
    }
  }

  &.landing-page {
    .navbar-default {
      .navbar-brand {
        color: $skin1-pallete6;
        background: $skin1-pallete3;

        &:hover, &:focus {
          background: $skin1-pallete3;
        }
      }
    }

    .navbar-scroll {
      &.navbar-default {
        .nav {
          li {
            a {
              &:hover {
                color: $skin1-pallete3;
              }
            }
          }
        }
      }
    }

    .nav {
      &.navbar-right {
        > li > a {
          color: $skin1-font;
        }
      }

      > li {
        &.active {
          border-left: none;
          background: transparent;

          > a, > a:hover {
            border-top: 6px solid $skin1-pallete3;
          }
        }

        > a {
          color: $skin1-nav-font;
        }
      }

      &.nav-second-level {
        > li.active {
          border: none;
        }
      }
    }

    .navy-line {
      border-color: $skin1-pallete3;
    }

    .navbar-fixed-top,
    .navbar-static-top {
      background: $skin1-pallete6;
      color: $skin1-font;
    }
  }

  .icon-red-xxl {
    color: $skin1-pallete3;
  }

  .counter {
    color: $skin1-pallete3;

    p {
      color: $skin1-pallete3;
    }
  }

  .navy-line {
    color: $skin1-pallete3;
    border-color: $skin1-pallete3;
  }

  .features {
    small {
      color: $skin1-pallete3;
    }
  }

  span.navy {
    color: $skin1-pallete3;
  }

  .navbar-brand {
    padding: 10px;

    .navbar-logo {
      height: 30px;
    }
  }

  &.internal {
    background-color: $skin1-nav-bg;
    color: $skin1-font;

    .nav {
      > li {
        &.active {
          border-left: 6px solid $skin1-pallete5;
          background: $skin1-pallete1;

          > a, > a:hover {
            padding-left: 19px;
            color: $skin1-pallete6;
          }
        }

        > a {
          &:hover, &:focus {
            background-color: transparent;
            color: $skin1-pallete6;
          }
        }
      }

      &.navbar-right {
        > li > a {
          color: $skin1-font;

          &:hover, &:focus {
            background-color: transparent;
            color: $skin1-pallete4;
          }
        }
      }

      &.nav-second-level {
        > li.active {
          border: none;
        }
      }
    }

    //breadcumb
    .breadcrumb-container {
      background-color: $skin1-pallete1;
      color: $skin1-pallete6;

      .breadcrumb {
        background-color: inherit;
        color: $skin1-pallete6;

        > li.active {
          color: $skin1-pallete4;
        }
      }
    }

    // content
    .content-container {
      background-color: $skin1-pallete2;
      color: $skin1-pallete6;

      .ibox-title {
        background-color: $skin1-pallete3;
        color: $skin1-pallete6;
        border: none;

        h5 {
          margin-left: 5px;
        }

        .btn {
          &.pull-right {
            margin-top: -5px;
            margin-bottom: 0px;
          }
        }
      }

      .ibox-content {
        background-color: $skin1-pallete3;
        color: $skin1-pallete6;
        border: none;
      }

      .ibox-footer {
        background-color: $skin1-pallete3;
        color: $skin1-pallete6;
      }
    }

    .announcement-container {
      background-color: $skin1-pallete3;
    }

    //pagination
    .pagination {
      > .active {
        > a,
        > span,
        > a:hover,
        > span:hover,
        > a:focus,
        > span:focus {
          color: $skin1-pallete3;
        }
      }
    }

    //datatable
    table.dataTable {
      border: none;
    }

    .footer {
      background-color: $skin1-pallete1;
      color: $skin1-pallete6;
      border-top: none;
    }
  }

  // step
  .wizard {
    > .steps {
      .current {
        a {
          &,
          &:hover,
          &:active {
            background: $skin1-pallete3;
          }
        }
      }
    }
  }

  // ttpm steps
  #step_header {
    &.step-bg {
      .step-number {
        color: $skin1-pallete5;
      }

      .active {
        background: linear-gradient(lighten($skin1-pallete4, 10%), $skin1-pallete4);

        .step-number {
          color: lighten($skin1-pallete3, 2%);
        }

        .step-title, .step-content {
          color: $skin1-pallete3;
        }
      }

      .done {
        background: linear-gradient(lighten($skin1-pallete3, 10%), $skin1-pallete3);

        .step-number {
          color: lighten($skin1-pallete4, 2%);
        }

        .step-title, .step-content {
          color: $skin1-pallete6;
        }
      }
    }
  }

  .btn-white {
    color: $skin1-pallete1;
  }
}