// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$inspinia-primary: #1ab394;
$inspinia-success: #1c84c6;
$inspinia-info: #23c6c8;
$inspinia-warning: #f8ac59;
$inspinia-danger: #A01C32;
$inspinia-based: #1ab394;

$inspinia-gray: #a7b1c2;
$inspinia-black: #2f4050;
$inspinia-white: #ffffff;
$inspinia-green: #28B294;

$inspinia-bg: $inspinia-black;
$inspinia-font-light: $inspinia-gray;
$inspinia-font-dark: $inspinia-black;

$skin-base-bg: #F8B195;
$skin-base-font: #355C7D;
$skin-base-border: #355C7D;
$skin-base-based: #355C7D;

// Size
$slider-height: 540px;
